/* ========================================
   1. BASE VISUAL DO PAINEL
======================================== */
:root {
    --fundo: #010a1a;
    --cartao: #032033;
    --cartao-escuro: #021427;
    --verde: #25dc68;
    --azul: #159fff;
    --branco: #f8f8f8;
    --texto-suave: #9eb8d5;
    --linha: #075078;
    --raio: 16px;
    --espaco: 30px;
}

/* Padronização dos tamanhos*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Tela inteira */

body {
    min-height: 100vh;
    padding: var(--espaco);
    color: var(--branco);
    background: 
    radial-gradient(circle at 30% 55%, #00483d55, transparent 35%),
    var(--fundo);
    font-family: Arial, Helvetica, sans-serif;
}

/* ========================================
   2. ESTRUTURA PRINCIPAL
======================================== */

main {
    min-height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 1.15fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    gap: 0 var(--espaco);
}

/*Elemnetos de chamada atual ficam à esquerda*/
main > :not(.recentes) {
    grid-column: 1;
}

/* Painel de chamada recentes fica a direita*/
.recentes {
    grid-column: 2;
    grid-row:  1 / 5;
    padding: 22px 28px;
    border: 1px solid var(--linha);
    border-radius: var(--raio);
    background: linear-gradient(145deg, #03233a, var(--cartao-escuro));
}
